In [1]:
import numpy as np
import pandas as pd

In [2]:
data={'name':['Kim','Lee','Choi','Park'],
      'Point':[50,60,75,70],
      'year':[2017,2016,2017,2018]}
print(data)
df=pd.DataFrame(data)
print(df)
print(df.index.name)
print(df.columns)
df.columns.name='Info'
df.index.name='Num'

{'name': ['Kim', 'Lee', 'Choi', 'Park'], 'Point': [50, 60, 75, 70], 'year': [2017, 2016, 2017, 2018]}
   name  Point  year
0   Kim     50  2017
1   Lee     60  2016
2  Choi     75  2017
3  Park     70  2018
None
Index(['name', 'Point', 'year'], dtype='object')

In [3]:
data={'names':['Kim','Lee','Park','Hong','Park'],
      'years':[2014,2015,2016,2015,2016],
      'points':[1.5,1.7,3.6,2.4,2.9]}
df=pd.DataFrame(data)
df
df2=pd.DataFrame(data,columns=['years','names','points','penalty'],
                 index=['one','two','three','four','five'])
df2.penalty=[0.1,0.2,0.3,0.4,0.5]
df2['penalty']=1.0
df2['zero']=0
df2.names
df2[['names','years','points']]

      names  years  points
one     Kim   2014     1.5
two     Lee   2015     1.7
three  Park   2016     3.6
four   Hong   2015     2.4
five   Park   2016     2.9

In [4]:
print(df2.loc['two':,'years':'points'])

       years names  points
two     2015   Lee     1.7
three   2016  Park     3.6
four    2015  Hong     2.4
five    2016  Park     2.9

In [5]:
df2.penalty=[0.1,0.2,0.3,0.4,0.5]
df2['heigh_point']=df2.points>2.0
df2
val=pd.Series([-1.2,-1.5,-1.7],index=['two','four','five'])
df2['aaa']=val
df2['bbb']=0.3
df2.bbb=[1,2,3,4,5]
del df2['bbb']
df2
del df2['heigh_point']
del df2['aaa']
df2

       years names  points  penalty  zero
one     2014   Kim     1.5      0.1     0
two     2015   Lee     1.7      0.2     0
three   2016  Park     3.6      0.3     0
four    2015  Hong     2.4      0.4     0
five    2016  Park     2.9      0.5     0

In [6]:
df2.loc['six']=[2013,'Jun',4.3,2.0]
df2

ValueError: cannot set a row with mismatched columns

In [ ]:
df2.iloc[[1,3,5],[0,2]]

In [ ]:
df2.loc[df2['points']>3,'penalty']=0
df2['aaa']=0
df2

In [ ]:
df2.loc[(df2['years']>2015) & (df2['points']>3),'aaa']=15
df2

In [ ]:
print(df2.loc[df2['years']>2014,['names','points']])

In [ ]:
df=pd.DataFrame(np.random.rand(6,4))
df.columns=['A','B','C','D']
df.index=pd.date_range('20191110',periods=6)
df

In [ ]:
#NaN
df['F']=[1.0,np.nan,3.5,6.1,np.nan,7.0]
df

In [ ]:
df1=df.dropna(how='all')
df1

In [ ]:
df1=df.fillna(value=0.5)
df1
df.isnull()
df.loc[df.isnull()['F'],:]

In [ ]:
pd.to_datetime('20191118')

In [ ]:
df1=df.drop(pd.to_datetime('20191110'))
df

In [ ]:
#행 삭제
#원본 df 는 영향을 받지 않는다.
df1=df.drop('F',axis=1)
df

#다중 행 삭제하기
df1=df.drop(['D','F'],axis=1)
df1

In [ ]:
print(df.sum(axis=0,skipna=False))
print(df.sum(axis=1,skipna=False))

print(df['A'].sum())
print(df[pd.to_datetime('20191110')].sum())

In [ ]:
df.describe()

In [ ]:
df2=pd.DataFrame(np.random.rand(6,4),columns=['A','B','C','D'],
                index=pd.date_range('20190701',periods=6))
df2['A'].value_counts()

data={'A':[1,2,1,4],'B':['a','b','a','c']}
df=pd.DataFrame(data)
df['B'].value_counts()
df.sort_values(by='A',ascending=False)

In [ ]:
df3=pd.DataFrame(np.random.rand(4,3),columns=['b','d','e'],
                 index=['Seoul','Incheon','Busan','Daegu'])
df3

In [ ]:
df3.sort_index(axis=0)

In [ ]:
#func=lambda x:x.max()-x.min()

def func(x):
    return x.max()-x.min()
print(df3.max(axis=0))
print(df3.min(axis=0))
df3.apply(func,axis=0)

In [8]:
input_file="data/input.csv"
output_file="data/output1.csv"
with open(input_file,'r',newline='')as reader:
    with open(output_file,'w',newline='')as writer:
        header=reader.readline()
        header=header.strip()
        header_list=header.split(',')
        print(header_list)
        writer.write(','.join(map(str,header_list))+"\n")
        for row in reader:
            row=row.strip()
            row_list=row.split(',')
            print(row_list)
            writer.write(','.join(map(str,row_list))+"\n")

['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
['A', '001-1001', '2341', '"$500', '000"', '2014-01-20']
['A', '001-1001', '5467', '500000', '2014-01-20']
['A', '001-1001', '5407', '750000', '2014-01-20']
['A', '001-1001', '2341', '750000', '2014-01-20']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9505', '6650', '125000', '2017-02-03']
['B', '50-9505', '6650', '125000', '2017-02-03']
['C', '920-4803', '3321', '615000', '2017-02-03']
['C', '920-4804', '3321', '615000', '2017-02-10']
['C', '920-4805', '3321', '615000', '2017-02-17']
['C', '920-4806', '3321', '615000', '2017-02-24']

In [10]:
#pandas 사용 파일 처리
import sys
imput_file="data/input.csv"
output_file="data/input2.csv"
data_frame=pd.read_csv(input_file)
print(data_frame)
data_frame.to_csv(output_file,index=False)

   Supplier Name Invoice Number  Part Number      Cost Purchase Date
0              A       001-1001         2341  $500,000    2014-01-20
1              A       001-1001         5467    500000    2014-01-20
2              A       001-1001         5407    750000    2014-01-20
3              A       001-1001         2341    750000    2014-01-20
4              B        50-9501         7009    250000    2018-01-30
5              B        50-9501         7009    250000    2018-01-30
6              B        50-9505         6650    125000    2017-02-03
7              B        50-9505         6650    125000    2017-02-03
8              C       920-4803         3321    615000    2017-02-03
9              C       920-4804         3321    615000    2017-02-10
10             C       920-4805         3321    615000    2017-02-17
11             C       920-4806         3321    615000    2017-02-24

In [11]:
#파이썬에 내장된 csv 포듈 사용파일 처리
import csv
input_file="data/input.csv"
output_file="data/output3.csv"
with open(input_file,'r',newline='')as csv_in_file:
    with open(output_file,'w',newline='')as csv_out_file:
        filereader=csv.reader(csv_in_file,delimiter=',')
        filewriter=csv.writer(csv_out_file,delimiter=',')
        
        for row_list in filereader:
            print(row_list)
            filewriter.writerow(row_list)

['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
['A', '001-1001', '2341', '$500,000', '2014-01-20']
['A', '001-1001', '5467', '500000', '2014-01-20']
['A', '001-1001', '5407', '750000', '2014-01-20']
['A', '001-1001', '2341', '750000', '2014-01-20']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9505', '6650', '125000', '2017-02-03']
['B', '50-9505', '6650', '125000', '2017-02-03']
['C', '920-4803', '3321', '615000', '2017-02-03']
['C', '920-4804', '3321', '615000', '2017-02-10']
['C', '920-4805', '3321', '615000', '2017-02-17']
['C', '920-4806', '3321', '615000', '2017-02-24']

In [17]:
#파이썬에 내장된 csv 포듈 사용파일 처리
import csv
input_file="data/input.csv"
output_file="data/output4.csv"
with open(input_file,'r',newline='')as csv_in_file:
    with open(output_file,'w',newline='')as csv_out_file:
        filereader=csv.reader(csv_in_file,delimiter=',')
        filewriter=csv.writer(csv_out_file,delimiter=',')
        header=next(filereader)
        filewriter.writerow(header)
        
        for row in filereader:
            supplier=str(row[0]).strip()
            cost=str(row[3]).strip('$').replace(',','')
            if supplier=='A' and float(cost)>=600000.0:
                print(row)
                filewriter.writerow(row)

['A', '001-1001', '5407', '750000', '2014-01-20']
['A', '001-1001', '2341', '750000', '2014-01-20']

In [25]:
#판다스 처리
output_file="data/output5.csv"
df=pd.read_csv(input_file)
df['Cost']=df['Cost'].str.strip('$').str.replace(',','').astype(float)
result=df.loc[(df['Supplier Name'].str.contains('A'))&(df['Cost']>600000.0),:]
print(result)
result.to_csv(output_file,index=False)

  Supplier Name Invoice Number  Part Number      Cost Purchase Date
2             A       001-1001         5407  750000.0    2014-01-20
3             A       001-1001         2341  750000.0    2014-01-20